﻿@model simplebibleapp.xmldictionary.IGreekDefinitionNode

<p>
    <label>KJV Definition:</label> @if (Model.SubNodes.Any())
    {
    Html.RenderPartial("GreekDefinition", Model.SubNodes);
    }
</p>